* {box-sizing:border-box;}
html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
				font-family:arial;
				font-size: 1em;
      }
	  
 #panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 50%;
        margin-left: -180px;
        padding: 5px;
        position: absolute;
        top: 5px;
        z-index: 5;
      }

.floating{
	left: 0%;
	position:fixed;
	top: 30px;
	z-index: 999;
}

.business-list
{
	background-color: #ffffff;
	display:inline-block;
	min-width:100px;
}

.nev-buttons
{
	align:center;
	width:100%;
}


.moveList
{
	display: inline-block;
	height: 100%;
}

.list-background{
	background-color:white;
}

.navButtons
{
	align:center;
	display:inline;
	vertical-align:top;
	
	
}

.align-middle{
	align:middle;
	display:inline-block;
	width:100%;
}